In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv("sales_orders.csv", )
df.head()

,order_number,order_date,line_items,fulfillment
0,387005,2016-01-22,"[\r\n {\r\n ""product"": {\r\n ""product...",In store
1,395005,2016-01-30,"[\r\n {\r\n ""product"": {\r\n ""product...",In store
2,423011,2016-02-27,"[\r\n {\r\n ""product"": {\r\n ""product...",In store
3,600006,2016-08-22,"[\r\n {\r\n ""product"": {\r\n ""product...",Online
4,652002,2016-10-13,"[\r\n {\r\n ""product"": {\r\n ""product...",In store

In [3]:
df["line_items"][0]

'[\r\n  {\r\n    "product": {\r\n      "product_name": "MGS Age of Empires II Gold Edition2009 E172",\r\n      "product_price": 32\r\n    },\r\n    "quantity": 3\r\n  },\r\n  {\r\n    "product": {\r\n      "product_name": "A. Datum Bridge Digital Camera M300 Pink",\r\n      "product_price": 186.9\r\n    },\r\n    "quantity": 2\r\n  },\r\n  {\r\n    "product": {\r\n      "product_name": "WWI Desktop PC1.80 E1801 Silver",\r\n      "product_price": 269.9\r\n    },\r\n    "quantity": 1\r\n  }\r\n]'

In [4]:
df["line_items"] = df["line_items"].apply(json.loads)
df

,order_number,order_date,line_items,fulfillment
0,387005,2016-01-22,[{'product': {'product_name': 'MGS Age of Empi...,In store
1,395005,2016-01-30,[{'product': {'product_name': 'Contoso DVD 60 ...,In store
2,423011,2016-02-27,[{'product': {'product_name': 'Contoso 16GB Mp...,In store
3,600006,2016-08-22,[{'product': {'product_name': 'Contoso Water H...,Online
4,652002,2016-10-13,[{'product': {'product_name': 'Contoso Genuine...,In store
...,...,...,...,...
95,2144004,2020-11-13,[{'product': {'product_name': 'Fabrikam Laptop...,In store
96,2152009,2020-11-21,[{'product': {'product_name': 'Contoso Hybrid ...,Online
97,2165005,2020-12-04,[{'product': {'product_name': 'Contoso Pen Tou...,In store
98,2175000,2020-12-14,[{'product': {'product_name': 'The Phone Compa...,In store
99,2192014,2020-12-31,[{'product': {'product_name': 'WWI Desktop PC1...,In store

In [5]:
df = df.explode(column="line_items")
df

,order_number,order_date,line_items,fulfillment
0,387005,2016-01-22,{'product': {'product_name': 'MGS Age of Empir...,In store
0,387005,2016-01-22,{'product': {'product_name': 'A. Datum Bridge ...,In store
0,387005,2016-01-22,{'product': {'product_name': 'WWI Desktop PC1....,In store
1,395005,2016-01-30,{'product': {'product_name': 'Contoso DVD 60 D...,In store
1,395005,2016-01-30,{'product': {'product_name': 'SV DVD 38 DVD St...,In store
...,...,...,...,...
98,2175000,2020-12-14,{'product': {'product_name': 'The Phone Compan...,In store
98,2175000,2020-12-14,{'product': {'product_name': 'The Phone Compan...,In store
98,2175000,2020-12-14,{'product': {'product_name': 'Fabrikam Laptop1...,In store
98,2175000,2020-12-14,{'product': {'product_name': 'SV DVD 14-Inch P...,In store
99,2192014,2020-12-31,{'product': {'product_name': 'WWI Desktop PC1....,In store

In [6]:
line_items = pd.json_normalize(df["line_items"])
line_items

,quantity,product.product_name,product.product_price
0,3,MGS Age of Empires II Gold Edition2009 E172,32.00
1,2,A. Datum Bridge Digital Camera M300 Pink,186.90
2,1,WWI Desktop PC1.80 E1801 Silver,269.90
3,5,Contoso DVD 60 DVD Storage Binder L20 Black,22.89
4,5,SV DVD 38 DVD Storage Binder E25 Silver,9.99
...,...,...,...
225,2,The Phone Company Smart phones without camera ...,129.00
226,4,The Phone Company PDA Phone Unlocked 3.7 inche...,238.00
227,3,Fabrikam Laptop10.1 M0101 Silver,384.90
228,4,SV DVD 14-Inch Player Portable L100 White,259.99
229,10,WWI Desktop PC1.80 E1801 Black,269.90

In [7]:
orders = pd.concat([df.reset_index(), line_items], axis=1)
orders

,index,order_number,order_date,line_items,fulfillment,quantity,product.product_name,product.product_price
0,0,387005,2016-01-22,{'product': {'product_name': 'MGS Age of Empir...,In store,3,MGS Age of Empires II Gold Edition2009 E172,32.00
1,0,387005,2016-01-22,{'product': {'product_name': 'A. Datum Bridge ...,In store,2,A. Datum Bridge Digital Camera M300 Pink,186.90
2,0,387005,2016-01-22,{'product': {'product_name': 'WWI Desktop PC1....,In store,1,WWI Desktop PC1.80 E1801 Silver,269.90
3,1,395005,2016-01-30,{'product': {'product_name': 'Contoso DVD 60 D...,In store,5,Contoso DVD 60 DVD Storage Binder L20 Black,22.89
4,1,395005,2016-01-30,{'product': {'product_name': 'SV DVD 38 DVD St...,In store,5,SV DVD 38 DVD Storage Binder E25 Silver,9.99
...,...,...,...,...,...,...,...,...
225,98,2175000,2020-12-14,{'product': {'product_name': 'The Phone Compan...,In store,2,The Phone Company Smart phones without camera ...,129.00
226,98,2175000,2020-12-14,{'product': {'product_name': 'The Phone Compan...,In store,4,The Phone Company PDA Phone Unlocked 3.7 inche...,238.00
227,98,2175000,2020-12-14,{'product': {'product_name': 'Fabrikam Laptop1...,In store,3,Fabrikam Laptop10.1 M0101 Silver,384.90
228,98,2175000,2020-12-14,{'product': {'product_name': 'SV DVD 14-Inch P...,In store,4,SV DVD 14-Inch Player Portable L100 White,259.99
229,99,2192014,2020-12-31,{'product': {'product_name': 'WWI Desktop PC1....,In store,10,WWI Desktop PC1.80 E1801 Black,269.90

In [8]:
orders = orders.drop(labels=["index", "line_items"], axis=1)
orders

,order_number,order_date,fulfillment,quantity,product.product_name,product.product_price
0,387005,2016-01-22,In store,3,MGS Age of Empires II Gold Edition2009 E172,32.00
1,387005,2016-01-22,In store,2,A. Datum Bridge Digital Camera M300 Pink,186.90
2,387005,2016-01-22,In store,1,WWI Desktop PC1.80 E1801 Silver,269.90
3,395005,2016-01-30,In store,5,Contoso DVD 60 DVD Storage Binder L20 Black,22.89
4,395005,2016-01-30,In store,5,SV DVD 38 DVD Storage Binder E25 Silver,9.99
...,...,...,...,...,...,...
225,2175000,2020-12-14,In store,2,The Phone Company Smart phones without camera ...,129.00
226,2175000,2020-12-14,In store,4,The Phone Company PDA Phone Unlocked 3.7 inche...,238.00
227,2175000,2020-12-14,In store,3,Fabrikam Laptop10.1 M0101 Silver,384.90
228,2175000,2020-12-14,In store,4,SV DVD 14-Inch Player Portable L100 White,259.99
229,2192014,2020-12-31,In store,10,WWI Desktop PC1.80 E1801 Black,269.90

In [9]:
orders["product.product_name"] = orders["product.product_name"].str.replace(",", " ")

In [10]:
orders.to_csv("orders.csv", index=False)

In [11]:
orders["total_cost"] = orders["product.product_price"] * orders["quantity"]

In [12]:
orders["fulfillment"].value_counts()

fulfillment
In store    194
Online       36
Name: count, dtype: int64

In [13]:
total_price = round(orders[orders["fulfillment"] == "Online"]["total_cost"].sum())

In [14]:
total_price

18239